NODE_ENV=development
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
DEEPCRAWL_API_KEY=
PERPLEXITY_API_KEY=
GEMINI_API_KEY=
PRESENTON_BASE_URL=http://localhost:5050
PRESENTON_API_KEY=
PRESENTON_TEMPLATE=general
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET=
ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=
APP_SECRETS_KEY=
LOCAL_DB_PATH=
